.ol-zoomslider {
    top: 7.5em;
    left: .5em;
    height: 240px;
    border: 2px solid rgba(0,60,136,0.5);
}

.ol-overviewmap {
    left: 3.5em;
    bottom: 2.5em;
}

.ol-mouse-position {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    position: absolute;
    text-align: center;
}

.ol-rotate {
    top: .5em;
    right: 2.5em;
    transition: opacity .25s linear, visibility 0s linear;
}

.ol-layerswitcher-image li.ol-layer-hidden{
    opacity:1 !important;
}